@import "tailwindcss";

/* ===== Light Mode (default) ===== */
:root {
  --background: #fdfdfd;
  --foreground: #000000;
  --light-color: #0a0a0a;
}


/* ===== Dark Mode ===== */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fdfdfd;
    --light-color: #ffffff;
  }
} */

/* Tailwind theme variables */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-color: var(--light-color);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost);
}

h5 {
  font-size: 2cm;
}