@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
/* Light */
:root {
  /* --background: 253, 250, 246; */
  --background: 253, 250, 246;
  --foreground: 0 0 0;
}

/* Dark via class */
.dark {
  --background: 17 24 39;
  --foreground: 255 255 255;
}

body {
  background: linear-gradient(
    135deg,
    rgb(206, 230, 231) 0%,
    rgba(248, 250, 252, 1) 100%
  );
  color: rgb(var(--foreground));
  font-family: var(--font-jost);
  transition: all 0.3s ease;
  min-height: 100vh;
}

/* Dark mode gradient */
.dark body {
  background: linear-gradient(
    135deg,
    rgba(17, 24, 39, 1) 0%,
    rgba(31, 41, 55, 1) 100%
  );
}

